{% extends 'base.html.twig' %}

{% block title %}{{ event.workshop.title }} - {{ event.title }} | Détails{% endblock %}

{% block bodyType %}<body class="sub_page">{% endblock %}

{% block content %}

 </div>

  <!-- Event details section -->
  <section class="event-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" data-aos="fade-right">
          <h2 class="mt-5 mb-2">
            {{ event.workshop.title }} : {{ event.title }}
          </h2>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-sm d-flex justify-content-start" data-aos="fade-right">
            {% if event.imageName %}
                <img id="imgPreview" src="{{ vich_uploader_asset(event, 'imageFile') }}" style="height: 20rem;" alt="Illustration">
            {% else %}
                <img id="imgPreview" src="{{ asset('build/face.png') }}" style="height: 20rem;" alt="Illustration">
            {% endif %}
        </div>
        <div class="col-sm" data-aos="fade-left">
           <table class="table">
                <tbody>
                    <tr><td>Date: </td><td>{{ event.startAt|format_datetime('medium', 'short',locale='fr') }}</td></tr>
                    {% if event.duration %}<tr><td>Durée: </td><td>{{ event.duration }}</td></tr>{% endif %}
                    {% if event.price %}<tr><td>Prix: </td><td>{{ event.price }} </td></tr>{% endif %}
                    {% if event.description %}<tr><td colspan="2">{{ event.description|raw }}</td></tr>{% endif %}
                    <tr>
                      <td colspan="2">
                      {% if event.soldout == true %}
                        <span><i class="fa-solid fa-lock"></i> Complet</span>
                      {% else %} 
                        <a href="#"><i class="fa-solid fa-lock-open"></i> Inscription</a> 
                      {% endif %}
                        <a class="back-btn ml-2" href="{{ path('app_agenda') }}">Retour</a>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>  
  <!-- Fin A Propos section -->

  

{% endblock %}


