{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
 {{ form_row(form._token) }}
    <form id="eventRegistrationForm" action="" method="post">
        <div class="card-content">
            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group col-lg-12 {% if form_errors(form.firstName) %}has-error{% endif %}">
                        <label class="control-label">
                            Prénom<star>*</star>
                        </label>
                        {{ form_row(form.firstName) }}
                    </div>
                </div>    
                <div class="col-lg-6">
                    <div class="form-group col-lg-12 {% if form_errors(form.lastName) %}has-error{% endif %}">
                        <label class="control-label">
                            Nom<star>*</star>
                        </label>
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-lg-12 {% if form_errors(form.email) %}has-error{% endif %}">
                        <label class="control-label">
                            E-Mail <star>*</star>
                        </label>
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-lg-12 {% if form_errors(form.born_at) %}has-error{% endif %}">
                        <label class="control-label">
                            Date de naissance <star>*</star>
                        </label>
                        {{ form_row(form.born_at) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-12 {% if form_errors(form.address) %}has-error{% endif %}">
                        <label class="control-label">
                            Rue <star>*</star>
                        </label>
                        {{ form_row(form.address) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 {% if form_errors(form.city) %}has-error{% endif %}">
                        <label class="control-label">
                            Localité <star>*</star>
                        </label>
                        {{ form_row(form.city) }}
                    </div>
                    <div class="form-group col-lg-6 {% if form_errors(form.postal_code) %}has-error{% endif %}">
                        <label class="control-label">
                            Code postal <star>*</star>
                        </label>
                        {{ form_row(form.postal_code) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group col-lg-12 {% if form_errors(form.event) %}has-error{% endif %}">
                        <label class="control-label">
                            Atelier <star>*</star>
                        </label>
                        {{ form_row(form.event) }}
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="category"><star>*</star> Champs obligatoires</div>
                    <div class="card-footer">
                        <a class="btn btn-danger btn-fill pull-right" href="{{ path('app_event_registration_index') }}" style="margin-left: 1rem;">Annuler</a>
                        <button class="btn btn-info btn-fill pull-right">{{ button_label|default('Enregistrer') }}</button>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{{ form_end(form) }}

