{% extends 'base.html.twig' %}

{% block title %}Agenda des ateliers{% endblock %}

{% block bodyType %}<body class="sub_page">{% endblock %}

{% block content %}

 </div>

  <!-- Prochaines sessions -->
  <section class="infos-sessions"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-12" data-aos="fade-right">
          <h2 class="mt-5 mb-5">
            Prochaines sessions...
          </h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-lg-12" data-aos="fade-up" >

        <table class="table table-striped">
          <tbody>
           {% for event in events %}
              <tr>
                <td class="text">
                  {{ event.startAt|format_datetime('medium', 'short',locale='fr') }} 
                </td>
                <td class="table-workshop-title">
                  {{ event.workshop.title }}
                </td>
                <td class="text">
                  {{ event.title }}
                </td>
                <td>
                  <a href="{{ path('app_event_details', {'workshop_slug': event.workshop.slug ,'event_slug': event.slug }) }}">Détails</a>
                </td>
                <td>
                  {% if event.soldout == true %}
                    <span><i class="fa-solid fa-lock"></i> Complet</span>
                  {% else %} 
                    <a href="{{ path('app_front_workshop_registration', {'workshop_slug': event.workshop.slug ,'event_slug': event.slug }) }}"><i class="fa-solid fa-lock-open"></i> S'inscrire</a>
                  {% endif %}
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        </div>
      </div>
    </div>
  </section>
  <!-- Fin prochaines sessions -->


{% endblock %}



