{% extends 'base.html.twig' %}

{% block title %}Contactez moi{% endblock %}

{% block content %}
<body class="sub_page">
 <!-- contact section -->
    <section class="info_section layout_padding">
      <div class="container">
        <h2>
            contactez <span>moi</span>
        </h2>
      </div>
      <div class="container">

        <div class="row">
          <div class="col-md-6 ">
              <div class="form_container">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                {{ form_row(form._token) }}
                  <form action="" method="post">
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.captcha) }}
                    <button>Envoyer</button>
                  </form>
                {{ form_end(form) }} 
              </div>
          </div>
          <div class="col-md-6">
            <div class="contact_img-box">
              <img src="{{ asset('build/post_office.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->
    <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 contactUs">
                <h5>
                  A Propos
                </h5>
                <ul>
                  <li>
                      Institutrice, animatrice certifiée au journal créatif®, au carnet de deuil®, à la science du bonheur et coach certifiée en psychologie positive et scolaire,  je vous propose une palette d'ateliers pour prendre soin de vous, de vos pensées, de vos émotions afin de (re)trouver un équilibre intérieur.
                  </li>
                </ul>
              </div>
              <div class="col-md-6 contactUs">
                <h5>
                  Contact
                </h5>
                <ul>
                  <li>
                      <span class="brand">Ôzmoz | Sabrina Bailliez</span>
                  </li>
                  <li>
                      40 Rue des Tilleuls<br>
                      1435 Hévillers<br>
                      (Mont-Saint-Guibert)
                    </a>
                  </li>
                  <li>
                      0475 62 40 64
                  </li>
                  <li>
                    <a href="{{ path('app_home') }}" target="_blank">
                      www.atelierozmoz.be
                    </a>
                  </li>
                  <li>
                    <a href="mailto:info@atelierozmoz.be">
                      info@atelierozmoz.be
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <div id="newsletter" class="form_container mt-5">
              <h5>
                NEWSLETTER
              </h5>
              <form action="">
                <input type="email" placeholder="Entrez votre adresse e-mail" />
                <button type="submit">
                  S'inscrire
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info_img-box">
              <img src="{{ asset('build/about.png') }}" alt="">
            </div>
            <div class="d-flex justify-content-end pr-5">
              <div class="social-box">
                <a href="https://www.facebook.com/Ozmoz.be" target="_blank">
                  <img src="{{ asset('build/fb.png') }}" alt="" />
                </a>
                <a href="https://www.pinterest.com/bailsab/_created/" target="_blank">
                  <img src="{{ asset('build/pinterest.png') }}" alt="" />
                </a>
                <a href="https://www.instagram.com/ozmoz_lart_de_se_creer/?hl=fr" target="_blank">
                  <img src="{{ asset('build/instagram1.png') }}" alt="" />
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </section>
{% endblock %}
