{% extends 'base.html.twig' %}

{% block title %}Contactez moi{% endblock %}

{% block content %}
<body class="sub_page">
 <!-- contact section -->
    <section class="info_section layout_padding">
      <div class="container">
        <h2>
            contactez <span>moi</span>
        </h2>
      </div>
      <div class="container">

        <div class="row">
          <div class="col-md-6 ">
              <div class="form_container">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                {{ form_row(form._token) }}
                  <form action="" method="post">
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.captcha) }}
                    <button>Envoyer</button>
                  </form>
                {{ form_end(form) }} 
              </div>
          </div>
          <div class="col-md-6">
            <div class="contact_img-box">
              <img src="{{ asset('build/post_office.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->
    
{% endblock %}
